<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bren-First UI-TEST">
	<listeners>
	   	<listener class-name="com.bren.qa.listeners.ListenerClass"></listener>
	</listeners> 
    <test name="Tests">
    	<classes>
        	<class name="com.bren.qa.testcases.LaunchPageTest"/>
         	<class name="com.bren.qa.testcases.LoginPageTest"/>
         	<class name="com.bren.qa.testcases.OtpVerificationPageTest"/>
         	<class name="com.bren.qa.testcases.EmailLoginPageTest"/>
         	<class name="com.bren.qa.testcases.MultipleApartmentAccountTest"/>
         	<class name="com.bren.qa.testcases.GuestProfilePageTest"/>
        </classes>
	</test>     
</suite> 

