<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bren-First UI-TEST">
	<listeners>
	   	<listener class-name="com.bren.qa.listeners.ListenerClass"></listener>
	   	<listener class-name="com.bren.qa.listeners.AnnotationTransformer"></listener>
	</listeners> 
    <test name="Tests">
    	<classes>
<!--          	<class name="com.bren.qa.testcases.LaunchPageTest"/>
         	<class name="com.bren.qa.testcases.LoginPageTest"/>
         	<class name="com.bren.qa.testcases.OtpVerificationPageTest"/>
         	<class name="com.bren.qa.testcases.EmailLoginPageTest"/>
         	<class name="com.bren.qa.testcases.MultipleApartmentAccountTest"/>
        	<class name="com.bren.qa.testcases.GuestProfilePageTest"/> -->
<!-- 		<class name="com.bren.qa.testcases.CreateTicketPageTest"/> -->
         	
 		<class name="com.bren.qa.testcases.ApartmentsListPageTest"/>
         	<class name="com.bren.qa.testcases.GuestApartmentsListPageTest"/>
         	<class name="com.bren.qa.testcases.GuestGetInTouchFormTest"/>
         	<class name="com.bren.qa.testcases.GuestHomePageTest"/>
         	<class name="com.bren.qa.testcases.InteriorDesignDetailPageTest"/> 
		
		
<!--           	<class name="com.bren.qa.testcases.InteriorDesignPackagesListPageTest"/>
         	<class name="com.bren.qa.testcases.MyApartmentDocumentsPageTest"/>
         	<class name="com.bren.qa.testcases.MyApartmentFloorPlansPageTest"/>
         	<class name="com.bren.qa.testcases.OwnerProfilePageTest"/>
         	<class name="com.bren.qa.testcases.ReferAndEarnFormPageTest"/>
         	<class name="com.bren.qa.testcases.RewardsPageTest"/>
         	<class name="com.bren.qa.testcases.SingleApartmentAccountTest"/> 
         	<class name="com.bren.qa.testcases.ViewADocumentPageTest"/> -->

        </classes>
	</test>     
</suite> 
